body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 100px;
}

h1 {
    color: #333;
    font-size: 32px;
    font-weight: bold;
}

.camera {
    width: 200px;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.camera:hover {
    transform: scale(1.1);
}
