<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
</head>
<body>
    <h2>Add a New Book</h2>
    <form th:action="@{/books/save}" th:object="${book}" method="post">
        <label>Title:</label>
        <input type="text" th:field="*{title}" /><br/>

        <label>Author:</label>
        <input type="text" th:field="*{author}" /><br/>

        <label>Price:</label>
        <input type="number" step="0.01" th:field="*{price}" /><br/>

        <button type="submit">Save</button>
    </form>
</body>
</html>